/*
.center{
    text-align: center;
    }
    .center_b{
    border: 1px solid #aaa;
    width: 200px;
    height: 100px;
    background: #AAAAAA;
    margin: auto;
    }

h1 {
    color: red;
}
